.body {
    display: flex;
    flex-flow: column wrap;
}

.header {
    display: flex;
    flex-flow: column wrap;
    border: 4px solid black;
    padding: 10px;
    margin: 20px;
}

.header__top {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    color: #8d8d8d;
}

.navigation__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid black; 
    padding: 10px;
    margin: 20px;
    color: #13151b;
}

.navigation__item {
    display: flex;
    flex-flow: row wrap;
}



.main{
    display: flex;
    flex-flow: column wrap;
    border: 4px solid black;
    padding: 10px;
    margin: 20px;
}

.index-banner {
    border: 2px solid black;
    padding: 10px;
    margin: 20px; 
}

.services {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    padding: 10px;
    margin: 20px; 
}

.services__title  {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px; 

}

.services__services {
    display: flex;
    flex-flow: row wrap;
    border: 2px dotted black;
    padding: 10px;
    margin: 20px;
}

.services__information {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px; 
}



.popular-goods {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    padding: 10px;
    margin: 20px; 
}

.popular-goods__title {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.popular-goods__items {
    display: flex;
    flex-flow: row;
    border: 1px solid black;
    padding: 10px;
    margin: 20px; 
}

.popular-goods__item {
    display: flex;
    flex-flow: column wrap;
    border: 2px dashed black;
    padding: 10px;
    margin: 20px; 
}

.popular-goods__image {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px; 
}

.popular-goods__description {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px; 
}

.popular-goods__details {
    border: 2px dotted black;
    padding: 10px;
    margin: 20px; 
}


.footer {
    display: flex;
    flex-flow: column wrap;
    border: 4px solid black;
    padding: 10px;
    margin: 20px;
}

.footer__top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}
.footer__bottom {
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
}

h1 {
    color: #4c4c4c;
}

a {
    text-decoration: none;
}

[class$="header-text"] a {
    color: #8d8d8d;
 }
 
 [class$="contacts"] a {
     color: #8d8d8d;
  }

  .header__bottom a {
      color: #13151b;
  }