@charset "UTF-8";
@font-face {
    font-family: "Geometria-bold";
    src: url(../fonts/Geometria-Bold.woff) format('woff');
    src: url(../fonts/Geometria-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Geometria";
    src: url(../fonts/Geometria.woff) format('woff');
    src: url(../fonts/Geometria.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "MullerBold";
    src: url(../fonts/Fontfabric-MullerBold.woff) format('woff');
    src: url(../fonts/Fontfabric-MullerBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "MullerRegular";
    src: url(../fonts/Fontfabric-MullerRegular.woff) format('woff');
    src: url(../fonts/Fontfabric-MullerRegular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}
button {
	border: none;
	background: transparent;
	cursor: pointer;
}
img {
	max-height: 100%;
	max-width: 100%;
	display: block;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
}
html,
body {
height: 100%;
}
.body {
	min-width: 320px;
	font-size: 18px;
	line-height: 1;
	font-family: "Geometria", "Muller", "Arial", sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}
.header,
.main,
.footer {
    flex-shrink: 0;   
}
.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;	
}
.header__wrap {
	max-width: 1646px;
	width: 100%;
	margin: 20px auto 5px;
}
.header__top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 1px solid #d1d1d1;
	padding-top: 5px;
}
.header__headline {
	width: 223px;
	height: 33px;
	flex-grow: 1.1;
	margin: 0px auto 40px;
}
.headline {
	font-family: "Geometria-bold";
	font-size: 36px;
	font-weight: 700;
	line-height: 22px;
	color: #13151b;
}
.text {
	font-family: "Geometria";
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #8d8d8d;
}
.header__auth{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 0.8;
	padding-right: 50px;
}
.header__auth a {
	text-decoration: none;
}
.header__auth a:hover {
	color: #cf4040;
}
.separator {
	color: #cf4040;
	display: block;
	margin: 0px 15px;
}
.auth__entrance{
	display: inline-flex;
	align-items: center;
}
.auth__icon {
	padding-left: 15px;
}
.header__search{
	display: flex;
	flex-grow: 0.7;
	justify-content: center;
	align-items: center;	
}
.search__button{
	display:inline-flex;
}
.search__button::before {
	content: '';
	position: relative;
	width: 23px;
	height: 23px;
	background: url(../img/search.png);
	top: 0;
	left: -10px;
	transition: 0.6s;
}
.search__text{
	border: none;
	border-bottom: 1px solid #d1d1d1
}
.contacts{
	display: flex;
	flex-grow: 1.5;
	justify-content: center;
	align-items: center;
	padding-right: 5px;
}
.contacts a {
	color: #8d8d8d;
	text-decoration: none;
	display: block;
}
.contacts a:hover {
	color: #cf4040;
}
.header__bell {
	display: inline-flex;
	font-size: 16px;
	text-decoration: underline;	
	flex-grow: 0.9;
	align-items: center;
	justify-content: center;
	padding-right: 15px;
}
.header__bell::before {
	content: '';
	position: relative;
	width: 12px;
	height: 12px;
	background: url(../img/phone.png);
	top: 0px;
	left: -10px;
	transition: 0.6s;
}
.header__bell:hover {
	color: #cf4040;
}
.header__basket{
	flex-grow: 0.2;
}
.basket__link {
	display: flex;
	justify-content: center;
}
.basket__score {
	width: 21px;
	height: 21px;
	font-size: 12px;
	border-radius: 50%;
	background: #cf4040;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -8px;
	right: -3px;
}
.header__navigation {
	padding: 13px 0;
}
.navigation__list {
	list-style-type: none;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}
.navigation__item {
	flex-grow:1;
}
.navigation__drop::after {
	content: '';
	position: absolute;
	width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent black black;
	transform: rotate(-45deg);
	left: 90%;
	top: 30%;
}
.navigation-text {
	font-family: "Geometria";
	color: #13151b;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	display: block;
	transition: 0.6s;
}
.navigation-text:hover {
	color: #cf4040;
}
.navigation__drop:hover .navigation__sublist {
	display: block;
}
.navigation__sublist {
	width: 150%;
	list-style-type: none;
	display: none;
	padding-top: 30px;
	padding-left: 0;
	position: absolute;
	top: 20px;
	right: -20%;
	z-index: 2;	
}
.navigation__item:first-child {
	flex-grow:0.2;
}
.navigation__item:nth-child(2) {
	padding-left: 160px;
	margin-right: 60px;
}
.navigation__item:nth-child(3) {
	flex-grow: 0.2;
}
.navigation__item:nth-child(4) {
	text-align: right;
	padding-right: 30px;
}
.navigation__item:last-child {
	text-align: right;
}
.navigation__services::before {
	content: '';
	height: 1px;
	width: 70%;
	background-color: #cf4040;
	display: block;
	left: 0%;
	top: 5px;
	margin-bottom: 10px;
}
.navigation__services::after {
	content: '';
	height: 1px;
	width: 70%;
	background-color: #cf4040;
	display: block;
	left: 0%;
	bottom: 1px;
	margin-top: 10px;
}
.item__services::after {
	content: '';
	position: absolute;
	width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent black black;
	transform: rotate(-135deg);
	right: 17%;
	top: 50%;
}
.sublist__item{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #d1d1d1;
}
.sublist__item::before {
	content: '';
	background-color: #C0C0C0;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.sublist__link:hover  {
	color: #ffffff;
}
.item__services:hover .services__sublist {
	display: block;
}
.services__sublist {
	padding: 0;
	position: absolute;
	display: none;
	top: 5px;
	right: -198%;
	z-index: 2;	
}
.sublist__subitem{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid #d1d1d1;	
}
.sublist__subitem::before {
	content: '';
	background-color: #C0C0C0;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.sublist__sublink:hover {
	color: #ffffff;
}

.index-banner {
  min-height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.index-banner::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.44);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.index-banner__description {
	font-family: "MullerBold";
	font-size: 60px;
	line-height: 72px;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 191px;
	padding-right: 836px;
	padding-bottom: 75px;
}

.services {
	display: flex;
	flex-direction: column;
}

.custom-title{
	font-family: "MullerBold";
	font-size: 23px;
	line-height: 72px;
	text-transform: uppercase;
	color: #bf0000;
	padding: 15px 0px 30px 138px;
}

.services__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.services__item {
	width: calc(100%/3);
	min-height: 317px;
	text-decoration: none;
	background-color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.services__image {
	flex-grow: 2;
	display: flex;
	align-items: center;
	padding-top: 15px;
}
.services__item:nth-child(2n+1) {
	background-color: #e8e8e8;
}
.services__item:first-child {
	padding-top: 37px;
}
.services__item:last-child {
	padding-top: 20px;
}
.services__name {
	font-family: "MullerBold";
	font-size: 24px;
	line-height: 22px;
	color: #000000;
	flex-grow: 1;
	padding-bottom: 10px;
}
.services__information {
	font-family: "MullerRegular";
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	color: #000000;
	display: block;
	margin: 48px 335px 0 141px;
}
.popular-goods {
	display: flex;
	flex-direction: column;
	
}
.popular-goods__items {
	display: flex;
	justify-content: space-between;
	margin-left: 138px;
	margin-right: 138px;	
}
.popular-goods__item {
	max-width: 389px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 13px 20px 40px 26px;
	border: 3px solid #8d8d8d;
}
.popular-goods__item-title{
	font-family: "MullerBold";
	font-size: 24px;
	font-weight: 400;
	line-height: 22px;
}
.popular-goods__item-image {
	flex-grow: 1;
	align-self: center;
}
.wrapper__description {
	min-height: 231px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 15px;
}
.item__description {
	font-family: "Geometria";
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	color: #404146;
	padding-bottom: 25px;
}
.item__link {
	height: 58px;
	width: 255px;
	color: #ffffff;
	font-family: "Geometria";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	align-self: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	background-color: #bf0000;
	padding-right: 60px;
}
.item__link::before {
	content: '';
	position: absolute;
	width: 23px;
  height: 2px;
  background: #ffffff;
  top: 50%;
  left: 190px;
  transform: translate(-50%, -50%);
}
.item__link::after {
	content: '';
	position: absolute;
	width: 7px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #ffffff #ffffff;
	top: 44%;
  left: 195px;
  transform: rotate(-135deg);
}

.footer {
	display: flex;
	flex-direction: column;
}
.footer::before {
	content: '';
	height: 40%;
	width: 100%;
	position: absolute;
	background-color:#e8e8e8;
	bottom: 0;
}
.footer__container{
	max-width: 1920px;
	padding: 0px 94px 22px 139px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #d1d1d1;
	margin-top: 25px;
	padding-top: 15px;
}
.footer__headline {
	width: 270px;	
	height: 30px;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;	
}
.footer__item {
	min-width: 200px;
}
.footer__item:nth-child(3) {
	margin-left: 40px;
}
.footer__item:nth-child(4) {
	margin-left: 30px;
	text-align: right;
}
.footer__item:last-child {
	text-align: right;
	padding-right: 30px;
}
.footer__contacts {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 5px;
}
.footer__button {
	position: absolute;
	right: -98px;
	top: 21px;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 31px;
}
.footer__copy {
	font-family: "Geometria";
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 283px;
}
.footer__copy a {
	color: black;
	text-decoration: none;
}
.copy__link:hover, .services__name:hover {
	color: #bf0000;
}

